@import "reset";
@import "../components/_app.scss";
body{
    min-height: calc(100vh - 202px);
}
body {
    color: #202020;
    background: #fff;
    min-width: 1200px;
    position: relative;
    padding-bottom: 100px;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.back-top{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 123px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight:bold;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: rgba(41,41,41,.1);
    border-radius: 4px;
    z-index: 999;
    cursor: pointer;
    &:hover{
      background: rgba(41,41,41,.3);
    }
}